<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://usefontawesome.com/releases/v5.4.1/css/all.css"/>
    <style>
        .container{
            max-width: 1200px;
            margin: auto;

        }
        @media (max-width : 500px) {
            .container {
                flex-direction: column;
                width: 80%;
                position: relative;
            }
        }
    </style>
</head>

<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <h1>All My Employees</h1>

                <form action="#" th:action="@{/addEmployee}" th:object="${employeeDto}" method="post">

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input type="text" th:field="${employeeDto.firstName}" class="form-control" id="firstName" placeholder="First Name"/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="lastName" class="col-form-label">Last Name</label>
                            <input type="text" th:field="${employeeDto.lastName}" class="form-control" id="lastName" placeholder="Last Name"/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="${employeeDto.email}" class="form-control" id="email" placeholder="Email"/>
                        </div>

<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="price" class="col-form-label">Price</label>-->
<!--                            <input type="text" th:field="${book.price}" class="form-control" id="price" placeholder="Description"/>-->
<!--                        </div>-->

                        <!--                            <div class="form-group col-md-8">-->
                        <!--                                <label for="formFile" class="form-label">Default file input example</label>-->
                        <!--                                <input class="form-control" type="file" id="formFile">-->
                        <!--                            </div>-->
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit "/>
                        </div>
                        <input type="hidden">
                    </div>
                </form>
            </div>
            <a style="margin-left: 420px" href="/" class="btn btn-link">Back</a>

        </div>
    </div>
</div>
</body>